src/main/mule/world-timezone-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="779666b5-d443-428f-bea0-b71e9ccceb7a" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="12fe3b2d-80cb-445b-8790-3431ade1bddf" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-timezone-apiFlow" doc:id="8ada8b11-4cc3-43bc-9da1-767dc7eac152" >
		<http:listener doc:name="Listener" doc:id="d37bf7e4-a16a-414b-9d88-c084ea042abd" config-ref="HTTP_Listener_config" path="/{region}/{city}" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request" doc:id="2552650d-d63e-439d-a94b-39ddd7e6f81d" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
